<h1>All Orders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_orders.each do |order| %>
      <tr>
        <td><%= order.line_items %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_orders.each do |order| %>
      <tr>
        <% order.line_items.each do |line| %>
          <% if line.product_id == @store_products.each {|store_product| store_product.store_product_id} %>
            <td><%= line.product_id %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h1>All Orders That Match Associated Products</h1>
